*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    text-align: center; 
    background-color: lightpink;
    background-image: url(https://img.freepik.com/free-photo/valentine-s-day-background-with-heart-shaped-bokeh-lights_1048-7332.jpg?size=626&ext=jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin-left: 25px;
}
img{
    background-size: cover;
}
#love{
    text-align: justify;
    background-color: rgba(22, 22, 21,0.5);
    border-radius: 5px;
    padding: 3px;
    color:rgb(188, 194, 111);
}
input{
    border-radius: 4px;
    /* background-color:rgba(255, 0, 0, 0.562); */
    background-color: rgba(255, 255, 255,.15);
}
p{
    margin-top: 30px;
    margin-left: 25px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer{
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 5px;
}
